main {
    background-color: #153244;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    border-radius: 10px;
    /* height: 100vh; */
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    width: 100%;
    max-width: 450px;
}

label {
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
    display: block;
    /* font-size: 14px; */
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    /* font-size: 16px; */
    color: #333;
    transition: border-color 0.3s;
}

input[type="number"]:focus {
    border-color: #007bff;
    outline: none;
}

#calcularSueldo {
    background-color: #8DE2D6;
    font-weight: 700;
    font-size: large;
    color: #153244;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    /* font-size: 16px; */
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.result {
    background-color: #8DE2D6;
    color: #153244;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    display: none;
    /* font-size: 18px; */
}

.result p {
    margin: 10px 0;
}

.highlight {
    /* font-size: 24px; */
    font-weight: bold;
}

.warning {
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    display: none;
    text-align: center;
}