#fortalezas {
    background-color: #153244;
    color: #ffffff;
    border-radius: 50px 15px;
}

#oportunidades {
    background-color: #153244;
    color: #ffffff;
    border-radius: 15px 50px;
}


#debilidades {
    background-color: #153244;
    color: #ffffff;
    border-radius: 15px 50px;
}

#amenazas {
    background-color: #153244;
    color: #ffffff;
    border-radius: 50px 15px;
}

textarea {
    background-color: rgb(241, 241, 241);
    resize: none;
    font-size: larger;
}

td {
    padding: 2rem;
    width: 40%;
    height: 50%;
}

#scrollH {
    margin-top: 2rem;
    overflow-x: scroll;
}

td > div {
    display: flex;
    flex-direction: column;
}

div > p {
    font-size: larger;
    font-weight: 800;
}

.derecha {
    text-align: right;
}

.izquierda {
    text-align: left;
}

.arriba {
    margin-top: 1rem;
}

.abajo {
    margin-bottom: 1rem;
}

.derecha.abajo, .izquierda.arriba {
    border-radius: 15px 50px;
}

.visible {
    display: inherit;
}

.oculto {
    display: none;
}